* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	min-height: 100%;
	font-size: calc(16px + 6*(100vw - 320px)/1600);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main);
  transition: color .4s ease-in, background-color .4s ease-in;
}

a {
  color: inherit;
  text-decoration: none;
}