/*
 *	WebFont Package Licensed to Ørseng Interiørarkitektur
 */

/* Wulkan Display Black */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Black.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Black.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Black.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Wulkan Display Bold */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Bold.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Bold.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Wulkan Display SemiBold */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display SemiBold.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display SemiBold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Wulkan Display Medium */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Medium.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Medium.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Medium.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Wulkan Display Regular */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Regular.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Wulkan Display Light */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Light.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Light.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Light.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Wulkan Display Black Italic */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Black Italic.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Black Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Black Italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Black Italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

/* Wulkan Display Bold Italic */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Bold Italic.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Bold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Bold Italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Bold Italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Wulkan Display SemiBold Italic */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display SemiBold Italic.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display SemiBold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display SemiBold Italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display SemiBold Italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* Wulkan Display Medium Italic */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Medium Italic.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Medium Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Medium Italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Medium Italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

/* Wulkan Display Regular Italic */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Regular Italic.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Regular Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Regular Italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Regular Italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Wulkan Display Light Italic */
@font-face {
	font-family: Wulkan Display;
	src:	url('../fonts/eot/Wulkan Display Light Italic.eot'); /* IE9 Compat Modes */
	src:	url('../fonts/eot/Wulkan Display Light Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../fonts/woff2/Wulkan Display Light Italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('../fonts/woff/Wulkan Display Light Italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
