@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://use.typekit.net/sud1ucm.css");

:root {
  --font-main: 'europa', serif;
  --font-display: 'kings-caslon-display', serif;

  --font-m: 1.2rem;
  --font-l: 3rem;
  --font-xl: 6rem;

  --letter-spacing: .05em;

  // colors
  --color-black: #000;
  --color-white: #fff;

  --site-padding: 1rem;
  --border-width: .18rem;
}

body {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
}

// dark theme
body[data-theme="dark"] {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
}

@media (max-width: 800px) {
  :root {
    --site-padding: .5rem;
  }
}